.rating.hover.pseudo-class-hover.value-1.half .star-container .star svg.star-half,
.rating.value-0.half .rating.hover.star.pseudo-class-hover.value-1:nth-child(1) .star-container .star svg.star-half,
.rating.value-1.half .star-container .rating.hover.star.pseudo-class-hover.value-1:nth-child(2) .star-container .star svg.star-half,
.rating.value-2.half .star-container .rating.hover.star.pseudo-class-hover.value-1:nth-child(3) .star-container .star svg.star-half,
.rating.value-3.half .star-container .rating.hover.star.pseudo-class-hover.value-1:nth-child(4) .star-container .star svg.star-half,
.rating.value-4.half .star-container .rating.hover.star.pseudo-class-hover.value-1:nth-child(5) .star-container .star svg.star-half,
.rating.value-5.half .star-container .rating.hover.star.pseudo-class-hover.value-1:nth-child(6) .star-container .star svg.star-half,
.rating.hover.pseudo-class-hover.hover-1 .star-container .star svg.star-half,
.rating.hover.pseudo-class-hover.value-2.half .star-container .star svg.star-half,
.rating.value-0.half .rating.hover.star.pseudo-class-hover.value-2:nth-child(1) .star-container .star svg.star-half,
.rating.value-1.half .star-container .rating.hover.star.pseudo-class-hover.value-2:nth-child(2) .star-container .star svg.star-half,
.rating.value-2.half .star-container .rating.hover.star.pseudo-class-hover.value-2:nth-child(3) .star-container .star svg.star-half,
.rating.value-3.half .star-container .rating.hover.star.pseudo-class-hover.value-2:nth-child(4) .star-container .star svg.star-half,
.rating.value-4.half .star-container .rating.hover.star.pseudo-class-hover.value-2:nth-child(5) .star-container .star svg.star-half,
.rating.value-5.half .star-container .rating.hover.star.pseudo-class-hover.value-2:nth-child(6) .star-container .star svg.star-half,
.rating.hover.pseudo-class-hover.hover-2 .star-container .star svg.star-half,
.rating.hover.pseudo-class-hover.value-3.half .star-container .star svg.star-half,
.rating.value-0.half .rating.hover.star.pseudo-class-hover.value-3:nth-child(1) .star-container .star svg.star-half,
.rating.value-1.half .star-container .rating.hover.star.pseudo-class-hover.value-3:nth-child(2) .star-container .star svg.star-half,
.rating.value-2.half .star-container .rating.hover.star.pseudo-class-hover.value-3:nth-child(3) .star-container .star svg.star-half,
.rating.value-3.half .star-container .rating.hover.star.pseudo-class-hover.value-3:nth-child(4) .star-container .star svg.star-half,
.rating.value-4.half .star-container .rating.hover.star.pseudo-class-hover.value-3:nth-child(5) .star-container .star svg.star-half,
.rating.value-5.half .star-container .rating.hover.star.pseudo-class-hover.value-3:nth-child(6) .star-container .star svg.star-half,
.rating.hover.pseudo-class-hover.hover-3 .star-container .star svg.star-half,
.rating.hover.pseudo-class-hover.value-4.half .star-container .star svg.star-half,
.rating.value-0.half .rating.hover.star.pseudo-class-hover.value-4:nth-child(1) .star-container .star svg.star-half,
.rating.value-1.half .star-container .rating.hover.star.pseudo-class-hover.value-4:nth-child(2) .star-container .star svg.star-half,
.rating.value-2.half .star-container .rating.hover.star.pseudo-class-hover.value-4:nth-child(3) .star-container .star svg.star-half,
.rating.value-3.half .star-container .rating.hover.star.pseudo-class-hover.value-4:nth-child(4) .star-container .star svg.star-half,
.rating.value-4.half .star-container .rating.hover.star.pseudo-class-hover.value-4:nth-child(5) .star-container .star svg.star-half,
.rating.value-5.half .star-container .rating.hover.star.pseudo-class-hover.value-4:nth-child(6) .star-container .star svg.star-half,
.rating.hover.pseudo-class-hover.hover-4 .star-container .star svg.star-half,
.rating.hover.pseudo-class-hover.value-5.half .star-container .star svg.star-half,
.rating.value-0.half .rating.hover.star.pseudo-class-hover.value-5:nth-child(1) .star-container .star svg.star-half,
.rating.value-1.half .star-container .rating.hover.star.pseudo-class-hover.value-5:nth-child(2) .star-container .star svg.star-half,
.rating.value-2.half .star-container .rating.hover.star.pseudo-class-hover.value-5:nth-child(3) .star-container .star svg.star-half,
.rating.value-3.half .star-container .rating.hover.star.pseudo-class-hover.value-5:nth-child(4) .star-container .star svg.star-half,
.rating.value-4.half .star-container .rating.hover.star.pseudo-class-hover.value-5:nth-child(5) .star-container .star svg.star-half,
.rating.value-5.half .star-container .rating.hover.star.pseudo-class-hover.value-5:nth-child(6) .star-container .star svg.star-half,
.rating.hover.pseudo-class-hover.hover-5 .star-container .star svg.star-half,
.rating.hover.pseudo-class-hover.value-6.half .star-container .star svg.star-half,
.rating.value-0.half .rating.hover.star.pseudo-class-hover.value-6:nth-child(1) .star-container .star svg.star-half,
.rating.value-1.half .star-container .rating.hover.star.pseudo-class-hover.value-6:nth-child(2) .star-container .star svg.star-half,
.rating.value-2.half .star-container .rating.hover.star.pseudo-class-hover.value-6:nth-child(3) .star-container .star svg.star-half,
.rating.value-3.half .star-container .rating.hover.star.pseudo-class-hover.value-6:nth-child(4) .star-container .star svg.star-half,
.rating.value-4.half .star-container .rating.hover.star.pseudo-class-hover.value-6:nth-child(5) .star-container .star svg.star-half,
.rating.value-5.half .star-container .rating.hover.star.pseudo-class-hover.value-6:nth-child(6) .star-container .star svg.star-half,
.rating.hover.pseudo-class-hover.hover-6 .star-container .star svg.star-half,
.rating.hover.pseudo-class-hover.value-1.half .star-container .star svg.star-filled,
.rating.value-0.half .rating.hover.star.pseudo-class-hover.value-1:nth-child(1) .star-container .star svg.star-filled,
.rating.value-1.half .star-container .rating.hover.star.pseudo-class-hover.value-1:nth-child(2) .star-container .star svg.star-filled,
.rating.value-2.half .star-container .rating.hover.star.pseudo-class-hover.value-1:nth-child(3) .star-container .star svg.star-filled,
.rating.value-3.half .star-container .rating.hover.star.pseudo-class-hover.value-1:nth-child(4) .star-container .star svg.star-filled,
.rating.value-4.half .star-container .rating.hover.star.pseudo-class-hover.value-1:nth-child(5) .star-container .star svg.star-filled,
.rating.value-5.half .star-container .rating.hover.star.pseudo-class-hover.value-1:nth-child(6) .star-container .star svg.star-filled,
.rating.hover.pseudo-class-hover.hover-1 .star-container .star svg.star-filled,
.rating.hover.pseudo-class-hover.value-2.half .star-container .star svg.star-filled,
.rating.value-0.half .rating.hover.star.pseudo-class-hover.value-2:nth-child(1) .star-container .star svg.star-filled,
.rating.value-1.half .star-container .rating.hover.star.pseudo-class-hover.value-2:nth-child(2) .star-container .star svg.star-filled,
.rating.value-2.half .star-container .rating.hover.star.pseudo-class-hover.value-2:nth-child(3) .star-container .star svg.star-filled,
.rating.value-3.half .star-container .rating.hover.star.pseudo-class-hover.value-2:nth-child(4) .star-container .star svg.star-filled,
.rating.value-4.half .star-container .rating.hover.star.pseudo-class-hover.value-2:nth-child(5) .star-container .star svg.star-filled,
.rating.value-5.half .star-container .rating.hover.star.pseudo-class-hover.value-2:nth-child(6) .star-container .star svg.star-filled,
.rating.hover.pseudo-class-hover.hover-2 .star-container .star svg.star-filled,
.rating.hover.pseudo-class-hover.value-3.half .star-container .star svg.star-filled,
.rating.value-0.half .rating.hover.star.pseudo-class-hover.value-3:nth-child(1) .star-container .star svg.star-filled,
.rating.value-1.half .star-container .rating.hover.star.pseudo-class-hover.value-3:nth-child(2) .star-container .star svg.star-filled,
.rating.value-2.half .star-container .rating.hover.star.pseudo-class-hover.value-3:nth-child(3) .star-container .star svg.star-filled,
.rating.value-3.half .star-container .rating.hover.star.pseudo-class-hover.value-3:nth-child(4) .star-container .star svg.star-filled,
.rating.value-4.half .star-container .rating.hover.star.pseudo-class-hover.value-3:nth-child(5) .star-container .star svg.star-filled,
.rating.value-5.half .star-container .rating.hover.star.pseudo-class-hover.value-3:nth-child(6) .star-container .star svg.star-filled,
.rating.hover.pseudo-class-hover.hover-3 .star-container .star svg.star-filled,
.rating.hover.pseudo-class-hover.value-4.half .star-container .star svg.star-filled,
.rating.value-0.half .rating.hover.star.pseudo-class-hover.value-4:nth-child(1) .star-container .star svg.star-filled,
.rating.value-1.half .star-container .rating.hover.star.pseudo-class-hover.value-4:nth-child(2) .star-container .star svg.star-filled,
.rating.value-2.half .star-container .rating.hover.star.pseudo-class-hover.value-4:nth-child(3) .star-container .star svg.star-filled,
.rating.value-3.half .star-container .rating.hover.star.pseudo-class-hover.value-4:nth-child(4) .star-container .star svg.star-filled,
.rating.value-4.half .star-container .rating.hover.star.pseudo-class-hover.value-4:nth-child(5) .star-container .star svg.star-filled,
.rating.value-5.half .star-container .rating.hover.star.pseudo-class-hover.value-4:nth-child(6) .star-container .star svg.star-filled,
.rating.hover.pseudo-class-hover.hover-4 .star-container .star svg.star-filled,
.rating.hover.pseudo-class-hover.value-5.half .star-container .star svg.star-filled,
.rating.value-0.half .rating.hover.star.pseudo-class-hover.value-5:nth-child(1) .star-container .star svg.star-filled,
.rating.value-1.half .star-container .rating.hover.star.pseudo-class-hover.value-5:nth-child(2) .star-container .star svg.star-filled,
.rating.value-2.half .star-container .rating.hover.star.pseudo-class-hover.value-5:nth-child(3) .star-container .star svg.star-filled,
.rating.value-3.half .star-container .rating.hover.star.pseudo-class-hover.value-5:nth-child(4) .star-container .star svg.star-filled,
.rating.value-4.half .star-container .rating.hover.star.pseudo-class-hover.value-5:nth-child(5) .star-container .star svg.star-filled,
.rating.value-5.half .star-container .rating.hover.star.pseudo-class-hover.value-5:nth-child(6) .star-container .star svg.star-filled,
.rating.hover.pseudo-class-hover.hover-5 .star-container .star svg.star-filled,
.rating.hover.pseudo-class-hover.value-6.half .star-container .star svg.star-filled,
.rating.value-0.half .rating.hover.star.pseudo-class-hover.value-6:nth-child(1) .star-container .star svg.star-filled,
.rating.value-1.half .star-container .rating.hover.star.pseudo-class-hover.value-6:nth-child(2) .star-container .star svg.star-filled,
.rating.value-2.half .star-container .rating.hover.star.pseudo-class-hover.value-6:nth-child(3) .star-container .star svg.star-filled,
.rating.value-3.half .star-container .rating.hover.star.pseudo-class-hover.value-6:nth-child(4) .star-container .star svg.star-filled,
.rating.value-4.half .star-container .rating.hover.star.pseudo-class-hover.value-6:nth-child(5) .star-container .star svg.star-filled,
.rating.value-5.half .star-container .rating.hover.star.pseudo-class-hover.value-6:nth-child(6) .star-container .star svg.star-filled,
.rating.hover.pseudo-class-hover.hover-6 .star-container .star svg.star-filled,
.rating.hover.pseudo-class-hover.value-1.half .star-container .star i.star-half,
.rating.value-0.half .rating.hover.star.pseudo-class-hover.value-1:nth-child(1) .star-container .star i.star-half,
.rating.value-1.half .star-container .rating.hover.star.pseudo-class-hover.value-1:nth-child(2) .star-container .star i.star-half,
.rating.value-2.half .star-container .rating.hover.star.pseudo-class-hover.value-1:nth-child(3) .star-container .star i.star-half,
.rating.value-3.half .star-container .rating.hover.star.pseudo-class-hover.value-1:nth-child(4) .star-container .star i.star-half,
.rating.value-4.half .star-container .rating.hover.star.pseudo-class-hover.value-1:nth-child(5) .star-container .star i.star-half,
.rating.value-5.half .star-container .rating.hover.star.pseudo-class-hover.value-1:nth-child(6) .star-container .star i.star-half,
.rating.hover.pseudo-class-hover.hover-1 .star-container .star i.star-half,
.rating.hover.pseudo-class-hover.value-2.half .star-container .star i.star-half,
.rating.value-0.half .rating.hover.star.pseudo-class-hover.value-2:nth-child(1) .star-container .star i.star-half,
.rating.value-1.half .star-container .rating.hover.star.pseudo-class-hover.value-2:nth-child(2) .star-container .star i.star-half,
.rating.value-2.half .star-container .rating.hover.star.pseudo-class-hover.value-2:nth-child(3) .star-container .star i.star-half,
.rating.value-3.half .star-container .rating.hover.star.pseudo-class-hover.value-2:nth-child(4) .star-container .star i.star-half,
.rating.value-4.half .star-container .rating.hover.star.pseudo-class-hover.value-2:nth-child(5) .star-container .star i.star-half,
.rating.value-5.half .star-container .rating.hover.star.pseudo-class-hover.value-2:nth-child(6) .star-container .star i.star-half,
.rating.hover.pseudo-class-hover.hover-2 .star-container .star i.star-half,
.rating.hover.pseudo-class-hover.value-3.half .star-container .star i.star-half,
.rating.value-0.half .rating.hover.star.pseudo-class-hover.value-3:nth-child(1) .star-container .star i.star-half,
.rating.value-1.half .star-container .rating.hover.star.pseudo-class-hover.value-3:nth-child(2) .star-container .star i.star-half,
.rating.value-2.half .star-container .rating.hover.star.pseudo-class-hover.value-3:nth-child(3) .star-container .star i.star-half,
.rating.value-3.half .star-container .rating.hover.star.pseudo-class-hover.value-3:nth-child(4) .star-container .star i.star-half,
.rating.value-4.half .star-container .rating.hover.star.pseudo-class-hover.value-3:nth-child(5) .star-container .star i.star-half,
.rating.value-5.half .star-container .rating.hover.star.pseudo-class-hover.value-3:nth-child(6) .star-container .star i.star-half,
.rating.hover.pseudo-class-hover.hover-3 .star-container .star i.star-half,
.rating.hover.pseudo-class-hover.value-4.half .star-container .star i.star-half,
.rating.value-0.half .rating.hover.star.pseudo-class-hover.value-4:nth-child(1) .star-container .star i.star-half,
.rating.value-1.half .star-container .rating.hover.star.pseudo-class-hover.value-4:nth-child(2) .star-container .star i.star-half,
.rating.value-2.half .star-container .rating.hover.star.pseudo-class-hover.value-4:nth-child(3) .star-container .star i.star-half,
.rating.value-3.half .star-container .rating.hover.star.pseudo-class-hover.value-4:nth-child(4) .star-container .star i.star-half,
.rating.value-4.half .star-container .rating.hover.star.pseudo-class-hover.value-4:nth-child(5) .star-container .star i.star-half,
.rating.value-5.half .star-container .rating.hover.star.pseudo-class-hover.value-4:nth-child(6) .star-container .star i.star-half,
.rating.hover.pseudo-class-hover.hover-4 .star-container .star i.star-half,
.rating.hover.pseudo-class-hover.value-5.half .star-container .star i.star-half,
.rating.value-0.half .rating.hover.star.pseudo-class-hover.value-5:nth-child(1) .star-container .star i.star-half,
.rating.value-1.half .star-container .rating.hover.star.pseudo-class-hover.value-5:nth-child(2) .star-container .star i.star-half,
.rating.value-2.half .star-container .rating.hover.star.pseudo-class-hover.value-5:nth-child(3) .star-container .star i.star-half,
.rating.value-3.half .star-container .rating.hover.star.pseudo-class-hover.value-5:nth-child(4) .star-container .star i.star-half,
.rating.value-4.half .star-container .rating.hover.star.pseudo-class-hover.value-5:nth-child(5) .star-container .star i.star-half,
.rating.value-5.half .star-container .rating.hover.star.pseudo-class-hover.value-5:nth-child(6) .star-container .star i.star-half,
.rating.hover.pseudo-class-hover.hover-5 .star-container .star i.star-half,
.rating.hover.pseudo-class-hover.value-6.half .star-container .star i.star-half,
.rating.value-0.half .rating.hover.star.pseudo-class-hover.value-6:nth-child(1) .star-container .star i.star-half,
.rating.value-1.half .star-container .rating.hover.star.pseudo-class-hover.value-6:nth-child(2) .star-container .star i.star-half,
.rating.value-2.half .star-container .rating.hover.star.pseudo-class-hover.value-6:nth-child(3) .star-container .star i.star-half,
.rating.value-3.half .star-container .rating.hover.star.pseudo-class-hover.value-6:nth-child(4) .star-container .star i.star-half,
.rating.value-4.half .star-container .rating.hover.star.pseudo-class-hover.value-6:nth-child(5) .star-container .star i.star-half,
.rating.value-5.half .star-container .rating.hover.star.pseudo-class-hover.value-6:nth-child(6) .star-container .star i.star-half,
.rating.hover.pseudo-class-hover.hover-6 .star-container .star i.star-half,
.rating.hover.pseudo-class-hover.value-1.half .star-container .star i.star-filled,
.rating.value-0.half .rating.hover.star.pseudo-class-hover.value-1:nth-child(1) .star-container .star i.star-filled,
.rating.value-1.half .star-container .rating.hover.star.pseudo-class-hover.value-1:nth-child(2) .star-container .star i.star-filled,
.rating.value-2.half .star-container .rating.hover.star.pseudo-class-hover.value-1:nth-child(3) .star-container .star i.star-filled,
.rating.value-3.half .star-container .rating.hover.star.pseudo-class-hover.value-1:nth-child(4) .star-container .star i.star-filled,
.rating.value-4.half .star-container .rating.hover.star.pseudo-class-hover.value-1:nth-child(5) .star-container .star i.star-filled,
.rating.value-5.half .star-container .rating.hover.star.pseudo-class-hover.value-1:nth-child(6) .star-container .star i.star-filled,
.rating.hover.pseudo-class-hover.hover-1 .star-container .star i.star-filled,
.rating.hover.pseudo-class-hover.value-2.half .star-container .star i.star-filled,
.rating.value-0.half .rating.hover.star.pseudo-class-hover.value-2:nth-child(1) .star-container .star i.star-filled,
.rating.value-1.half .star-container .rating.hover.star.pseudo-class-hover.value-2:nth-child(2) .star-container .star i.star-filled,
.rating.value-2.half .star-container .rating.hover.star.pseudo-class-hover.value-2:nth-child(3) .star-container .star i.star-filled,
.rating.value-3.half .star-container .rating.hover.star.pseudo-class-hover.value-2:nth-child(4) .star-container .star i.star-filled,
.rating.value-4.half .star-container .rating.hover.star.pseudo-class-hover.value-2:nth-child(5) .star-container .star i.star-filled,
.rating.value-5.half .star-container .rating.hover.star.pseudo-class-hover.value-2:nth-child(6) .star-container .star i.star-filled,
.rating.hover.pseudo-class-hover.hover-2 .star-container .star i.star-filled,
.rating.hover.pseudo-class-hover.value-3.half .star-container .star i.star-filled,
.rating.value-0.half .rating.hover.star.pseudo-class-hover.value-3:nth-child(1) .star-container .star i.star-filled,
.rating.value-1.half .star-container .rating.hover.star.pseudo-class-hover.value-3:nth-child(2) .star-container .star i.star-filled,
.rating.value-2.half .star-container .rating.hover.star.pseudo-class-hover.value-3:nth-child(3) .star-container .star i.star-filled,
.rating.value-3.half .star-container .rating.hover.star.pseudo-class-hover.value-3:nth-child(4) .star-container .star i.star-filled,
.rating.value-4.half .star-container .rating.hover.star.pseudo-class-hover.value-3:nth-child(5) .star-container .star i.star-filled,
.rating.value-5.half .star-container .rating.hover.star.pseudo-class-hover.value-3:nth-child(6) .star-container .star i.star-filled,
.rating.hover.pseudo-class-hover.hover-3 .star-container .star i.star-filled,
.rating.hover.pseudo-class-hover.value-4.half .star-container .star i.star-filled,
.rating.value-0.half .rating.hover.star.pseudo-class-hover.value-4:nth-child(1) .star-container .star i.star-filled,
.rating.value-1.half .star-container .rating.hover.star.pseudo-class-hover.value-4:nth-child(2) .star-container .star i.star-filled,
.rating.value-2.half .star-container .rating.hover.star.pseudo-class-hover.value-4:nth-child(3) .star-container .star i.star-filled,
.rating.value-3.half .star-container .rating.hover.star.pseudo-class-hover.value-4:nth-child(4) .star-container .star i.star-filled,
.rating.value-4.half .star-container .rating.hover.star.pseudo-class-hover.value-4:nth-child(5) .star-container .star i.star-filled,
.rating.value-5.half .star-container .rating.hover.star.pseudo-class-hover.value-4:nth-child(6) .star-container .star i.star-filled,
.rating.hover.pseudo-class-hover.hover-4 .star-container .star i.star-filled,
.rating.hover.pseudo-class-hover.value-5.half .star-container .star i.star-filled,
.rating.value-0.half .rating.hover.star.pseudo-class-hover.value-5:nth-child(1) .star-container .star i.star-filled,
.rating.value-1.half .star-container .rating.hover.star.pseudo-class-hover.value-5:nth-child(2) .star-container .star i.star-filled,
.rating.value-2.half .star-container .rating.hover.star.pseudo-class-hover.value-5:nth-child(3) .star-container .star i.star-filled,
.rating.value-3.half .star-container .rating.hover.star.pseudo-class-hover.value-5:nth-child(4) .star-container .star i.star-filled,
.rating.value-4.half .star-container .rating.hover.star.pseudo-class-hover.value-5:nth-child(5) .star-container .star i.star-filled,
.rating.value-5.half .star-container .rating.hover.star.pseudo-class-hover.value-5:nth-child(6) .star-container .star i.star-filled,
.rating.hover.pseudo-class-hover.hover-5 .star-container .star i.star-filled,
.rating.hover.pseudo-class-hover.value-6.half .star-container .star i.star-filled,
.rating.value-0.half .rating.hover.star.pseudo-class-hover.value-6:nth-child(1) .star-container .star i.star-filled,
.rating.value-1.half .star-container .rating.hover.star.pseudo-class-hover.value-6:nth-child(2) .star-container .star i.star-filled,
.rating.value-2.half .star-container .rating.hover.star.pseudo-class-hover.value-6:nth-child(3) .star-container .star i.star-filled,
.rating.value-3.half .star-container .rating.hover.star.pseudo-class-hover.value-6:nth-child(4) .star-container .star i.star-filled,
.rating.value-4.half .star-container .rating.hover.star.pseudo-class-hover.value-6:nth-child(5) .star-container .star i.star-filled,
.rating.value-5.half .star-container .rating.hover.star.pseudo-class-hover.value-6:nth-child(6) .star-container .star i.star-filled,
.rating.hover.pseudo-class-hover.hover-6 .star-container .star i.star-filled {
  opacity: 0;
}

.rating.hover.pseudo-class-hover.value-1.half .star-container .star svg.star-empty,
.rating.value-0.half .rating.hover.star.pseudo-class-hover.value-1:nth-child(1) .star-container .star svg.star-empty,
.rating.value-1.half .star-container .rating.hover.star.pseudo-class-hover.value-1:nth-child(2) .star-container .star svg.star-empty,
.rating.value-2.half .star-container .rating.hover.star.pseudo-class-hover.value-1:nth-child(3) .star-container .star svg.star-empty,
.rating.value-3.half .star-container .rating.hover.star.pseudo-class-hover.value-1:nth-child(4) .star-container .star svg.star-empty,
.rating.value-4.half .star-container .rating.hover.star.pseudo-class-hover.value-1:nth-child(5) .star-container .star svg.star-empty,
.rating.value-5.half .star-container .rating.hover.star.pseudo-class-hover.value-1:nth-child(6) .star-container .star svg.star-empty,
.rating.hover.pseudo-class-hover.hover-1 .star-container .star svg.star-empty,
.rating.hover.pseudo-class-hover.value-2.half .star-container .star svg.star-empty,
.rating.value-0.half .rating.hover.star.pseudo-class-hover.value-2:nth-child(1) .star-container .star svg.star-empty,
.rating.value-1.half .star-container .rating.hover.star.pseudo-class-hover.value-2:nth-child(2) .star-container .star svg.star-empty,
.rating.value-2.half .star-container .rating.hover.star.pseudo-class-hover.value-2:nth-child(3) .star-container .star svg.star-empty,
.rating.value-3.half .star-container .rating.hover.star.pseudo-class-hover.value-2:nth-child(4) .star-container .star svg.star-empty,
.rating.value-4.half .star-container .rating.hover.star.pseudo-class-hover.value-2:nth-child(5) .star-container .star svg.star-empty,
.rating.value-5.half .star-container .rating.hover.star.pseudo-class-hover.value-2:nth-child(6) .star-container .star svg.star-empty,
.rating.hover.pseudo-class-hover.hover-2 .star-container .star svg.star-empty,
.rating.hover.pseudo-class-hover.value-3.half .star-container .star svg.star-empty,
.rating.value-0.half .rating.hover.star.pseudo-class-hover.value-3:nth-child(1) .star-container .star svg.star-empty,
.rating.value-1.half .star-container .rating.hover.star.pseudo-class-hover.value-3:nth-child(2) .star-container .star svg.star-empty,
.rating.value-2.half .star-container .rating.hover.star.pseudo-class-hover.value-3:nth-child(3) .star-container .star svg.star-empty,
.rating.value-3.half .star-container .rating.hover.star.pseudo-class-hover.value-3:nth-child(4) .star-container .star svg.star-empty,
.rating.value-4.half .star-container .rating.hover.star.pseudo-class-hover.value-3:nth-child(5) .star-container .star svg.star-empty,
.rating.value-5.half .star-container .rating.hover.star.pseudo-class-hover.value-3:nth-child(6) .star-container .star svg.star-empty,
.rating.hover.pseudo-class-hover.hover-3 .star-container .star svg.star-empty,
.rating.hover.pseudo-class-hover.value-4.half .star-container .star svg.star-empty,
.rating.value-0.half .rating.hover.star.pseudo-class-hover.value-4:nth-child(1) .star-container .star svg.star-empty,
.rating.value-1.half .star-container .rating.hover.star.pseudo-class-hover.value-4:nth-child(2) .star-container .star svg.star-empty,
.rating.value-2.half .star-container .rating.hover.star.pseudo-class-hover.value-4:nth-child(3) .star-container .star svg.star-empty,
.rating.value-3.half .star-container .rating.hover.star.pseudo-class-hover.value-4:nth-child(4) .star-container .star svg.star-empty,
.rating.value-4.half .star-container .rating.hover.star.pseudo-class-hover.value-4:nth-child(5) .star-container .star svg.star-empty,
.rating.value-5.half .star-container .rating.hover.star.pseudo-class-hover.value-4:nth-child(6) .star-container .star svg.star-empty,
.rating.hover.pseudo-class-hover.hover-4 .star-container .star svg.star-empty,
.rating.hover.pseudo-class-hover.value-5.half .star-container .star svg.star-empty,
.rating.value-0.half .rating.hover.star.pseudo-class-hover.value-5:nth-child(1) .star-container .star svg.star-empty,
.rating.value-1.half .star-container .rating.hover.star.pseudo-class-hover.value-5:nth-child(2) .star-container .star svg.star-empty,
.rating.value-2.half .star-container .rating.hover.star.pseudo-class-hover.value-5:nth-child(3) .star-container .star svg.star-empty,
.rating.value-3.half .star-container .rating.hover.star.pseudo-class-hover.value-5:nth-child(4) .star-container .star svg.star-empty,
.rating.value-4.half .star-container .rating.hover.star.pseudo-class-hover.value-5:nth-child(5) .star-container .star svg.star-empty,
.rating.value-5.half .star-container .rating.hover.star.pseudo-class-hover.value-5:nth-child(6) .star-container .star svg.star-empty,
.rating.hover.pseudo-class-hover.hover-5 .star-container .star svg.star-empty,
.rating.hover.pseudo-class-hover.value-6.half .star-container .star svg.star-empty,
.rating.value-0.half .rating.hover.star.pseudo-class-hover.value-6:nth-child(1) .star-container .star svg.star-empty,
.rating.value-1.half .star-container .rating.hover.star.pseudo-class-hover.value-6:nth-child(2) .star-container .star svg.star-empty,
.rating.value-2.half .star-container .rating.hover.star.pseudo-class-hover.value-6:nth-child(3) .star-container .star svg.star-empty,
.rating.value-3.half .star-container .rating.hover.star.pseudo-class-hover.value-6:nth-child(4) .star-container .star svg.star-empty,
.rating.value-4.half .star-container .rating.hover.star.pseudo-class-hover.value-6:nth-child(5) .star-container .star svg.star-empty,
.rating.value-5.half .star-container .rating.hover.star.pseudo-class-hover.value-6:nth-child(6) .star-container .star svg.star-empty,
.rating.hover.pseudo-class-hover.hover-6 .star-container .star svg.star-empty,
.rating.hover.pseudo-class-hover.value-1.half .star-container .star i.star-empty,
.rating.value-0.half .rating.hover.star.pseudo-class-hover.value-1:nth-child(1) .star-container .star i.star-empty,
.rating.value-1.half .star-container .rating.hover.star.pseudo-class-hover.value-1:nth-child(2) .star-container .star i.star-empty,
.rating.value-2.half .star-container .rating.hover.star.pseudo-class-hover.value-1:nth-child(3) .star-container .star i.star-empty,
.rating.value-3.half .star-container .rating.hover.star.pseudo-class-hover.value-1:nth-child(4) .star-container .star i.star-empty,
.rating.value-4.half .star-container .rating.hover.star.pseudo-class-hover.value-1:nth-child(5) .star-container .star i.star-empty,
.rating.value-5.half .star-container .rating.hover.star.pseudo-class-hover.value-1:nth-child(6) .star-container .star i.star-empty,
.rating.hover.pseudo-class-hover.hover-1 .star-container .star i.star-empty,
.rating.hover.pseudo-class-hover.value-2.half .star-container .star i.star-empty,
.rating.value-0.half .rating.hover.star.pseudo-class-hover.value-2:nth-child(1) .star-container .star i.star-empty,
.rating.value-1.half .star-container .rating.hover.star.pseudo-class-hover.value-2:nth-child(2) .star-container .star i.star-empty,
.rating.value-2.half .star-container .rating.hover.star.pseudo-class-hover.value-2:nth-child(3) .star-container .star i.star-empty,
.rating.value-3.half .star-container .rating.hover.star.pseudo-class-hover.value-2:nth-child(4) .star-container .star i.star-empty,
.rating.value-4.half .star-container .rating.hover.star.pseudo-class-hover.value-2:nth-child(5) .star-container .star i.star-empty,
.rating.value-5.half .star-container .rating.hover.star.pseudo-class-hover.value-2:nth-child(6) .star-container .star i.star-empty,
.rating.hover.pseudo-class-hover.hover-2 .star-container .star i.star-empty,
.rating.hover.pseudo-class-hover.value-3.half .star-container .star i.star-empty,
.rating.value-0.half .rating.hover.star.pseudo-class-hover.value-3:nth-child(1) .star-container .star i.star-empty,
.rating.value-1.half .star-container .rating.hover.star.pseudo-class-hover.value-3:nth-child(2) .star-container .star i.star-empty,
.rating.value-2.half .star-container .rating.hover.star.pseudo-class-hover.value-3:nth-child(3) .star-container .star i.star-empty,
.rating.value-3.half .star-container .rating.hover.star.pseudo-class-hover.value-3:nth-child(4) .star-container .star i.star-empty,
.rating.value-4.half .star-container .rating.hover.star.pseudo-class-hover.value-3:nth-child(5) .star-container .star i.star-empty,
.rating.value-5.half .star-container .rating.hover.star.pseudo-class-hover.value-3:nth-child(6) .star-container .star i.star-empty,
.rating.hover.pseudo-class-hover.hover-3 .star-container .star i.star-empty,
.rating.hover.pseudo-class-hover.value-4.half .star-container .star i.star-empty,
.rating.value-0.half .rating.hover.star.pseudo-class-hover.value-4:nth-child(1) .star-container .star i.star-empty,
.rating.value-1.half .star-container .rating.hover.star.pseudo-class-hover.value-4:nth-child(2) .star-container .star i.star-empty,
.rating.value-2.half .star-container .rating.hover.star.pseudo-class-hover.value-4:nth-child(3) .star-container .star i.star-empty,
.rating.value-3.half .star-container .rating.hover.star.pseudo-class-hover.value-4:nth-child(4) .star-container .star i.star-empty,
.rating.value-4.half .star-container .rating.hover.star.pseudo-class-hover.value-4:nth-child(5) .star-container .star i.star-empty,
.rating.value-5.half .star-container .rating.hover.star.pseudo-class-hover.value-4:nth-child(6) .star-container .star i.star-empty,
.rating.hover.pseudo-class-hover.hover-4 .star-container .star i.star-empty,
.rating.hover.pseudo-class-hover.value-5.half .star-container .star i.star-empty,
.rating.value-0.half .rating.hover.star.pseudo-class-hover.value-5:nth-child(1) .star-container .star i.star-empty,
.rating.value-1.half .star-container .rating.hover.star.pseudo-class-hover.value-5:nth-child(2) .star-container .star i.star-empty,
.rating.value-2.half .star-container .rating.hover.star.pseudo-class-hover.value-5:nth-child(3) .star-container .star i.star-empty,
.rating.value-3.half .star-container .rating.hover.star.pseudo-class-hover.value-5:nth-child(4) .star-container .star i.star-empty,
.rating.value-4.half .star-container .rating.hover.star.pseudo-class-hover.value-5:nth-child(5) .star-container .star i.star-empty,
.rating.value-5.half .star-container .rating.hover.star.pseudo-class-hover.value-5:nth-child(6) .star-container .star i.star-empty,
.rating.hover.pseudo-class-hover.hover-5 .star-container .star i.star-empty,
.rating.hover.pseudo-class-hover.value-6.half .star-container .star i.star-empty,
.rating.value-0.half .rating.hover.star.pseudo-class-hover.value-6:nth-child(1) .star-container .star i.star-empty,
.rating.value-1.half .star-container .rating.hover.star.pseudo-class-hover.value-6:nth-child(2) .star-container .star i.star-empty,
.rating.value-2.half .star-container .rating.hover.star.pseudo-class-hover.value-6:nth-child(3) .star-container .star i.star-empty,
.rating.value-3.half .star-container .rating.hover.star.pseudo-class-hover.value-6:nth-child(4) .star-container .star i.star-empty,
.rating.value-4.half .star-container .rating.hover.star.pseudo-class-hover.value-6:nth-child(5) .star-container .star i.star-empty,
.rating.value-5.half .star-container .rating.hover.star.pseudo-class-hover.value-6:nth-child(6) .star-container .star i.star-empty,
.rating.hover.pseudo-class-hover.hover-6 .star-container .star i.star-empty {
  opacity: 1;
}

.rating.hover.pseudo-class-hover.hover-1 .star-container .star:nth-child(-n+1) svg.star-empty,
.rating.hover.pseudo-class-hover.hover-2 .star-container .star:nth-child(-n+2) svg.star-empty,
.rating.hover.pseudo-class-hover.hover-3 .star-container .star:nth-child(-n+3) svg.star-empty,
.rating.hover.pseudo-class-hover.hover-4 .star-container .star:nth-child(-n+4) svg.star-empty,
.rating.hover.pseudo-class-hover.hover-5 .star-container .star:nth-child(-n+5) svg.star-empty,
.rating.hover.pseudo-class-hover.hover-6 .star-container .star:nth-child(-n+6) svg.star-empty,
.rating.hover.pseudo-class-hover.hover-1 .star-container .star:nth-child(-n+1) svg.star-filled,
.rating.hover.pseudo-class-hover.hover-2 .star-container .star:nth-child(-n+2) svg.star-filled,
.rating.hover.pseudo-class-hover.hover-3 .star-container .star:nth-child(-n+3) svg.star-filled,
.rating.hover.pseudo-class-hover.hover-4 .star-container .star:nth-child(-n+4) svg.star-filled,
.rating.hover.pseudo-class-hover.hover-5 .star-container .star:nth-child(-n+5) svg.star-filled,
.rating.hover.pseudo-class-hover.hover-6 .star-container .star:nth-child(-n+6) svg.star-filled,
.rating.hover.pseudo-class-hover.hover-1 .star-container .star:nth-child(-n+1) i.star-empty,
.rating.hover.pseudo-class-hover.hover-2 .star-container .star:nth-child(-n+2) i.star-empty,
.rating.hover.pseudo-class-hover.hover-3 .star-container .star:nth-child(-n+3) i.star-empty,
.rating.hover.pseudo-class-hover.hover-4 .star-container .star:nth-child(-n+4) i.star-empty,
.rating.hover.pseudo-class-hover.hover-5 .star-container .star:nth-child(-n+5) i.star-empty,
.rating.hover.pseudo-class-hover.hover-6 .star-container .star:nth-child(-n+6) i.star-empty,
.rating.hover.pseudo-class-hover.hover-1 .star-container .star:nth-child(-n+1) i.star-filled,
.rating.hover.pseudo-class-hover.hover-2 .star-container .star:nth-child(-n+2) i.star-filled,
.rating.hover.pseudo-class-hover.hover-3 .star-container .star:nth-child(-n+3) i.star-filled,
.rating.hover.pseudo-class-hover.hover-4 .star-container .star:nth-child(-n+4) i.star-filled,
.rating.hover.pseudo-class-hover.hover-5 .star-container .star:nth-child(-n+5) i.star-filled,
.rating.hover.pseudo-class-hover.hover-6 .star-container .star:nth-child(-n+6) i.star-filled {
  opacity: 0;
}

.rating.hover.pseudo-class-hover.hover-1 .star-container .star:nth-child(-n+1) svg.star-filled,
.rating.hover.pseudo-class-hover.hover-2 .star-container .star:nth-child(-n+2) svg.star-filled,
.rating.hover.pseudo-class-hover.hover-3 .star-container .star:nth-child(-n+3) svg.star-filled,
.rating.hover.pseudo-class-hover.hover-4 .star-container .star:nth-child(-n+4) svg.star-filled,
.rating.hover.pseudo-class-hover.hover-5 .star-container .star:nth-child(-n+5) svg.star-filled,
.rating.hover.pseudo-class-hover.hover-6 .star-container .star:nth-child(-n+6) svg.star-filled,
.rating.hover.pseudo-class-hover.hover-1 .star-container .star:nth-child(-n+1) i.star-filled,
.rating.hover.pseudo-class-hover.hover-2 .star-container .star:nth-child(-n+2) i.star-filled,
.rating.hover.pseudo-class-hover.hover-3 .star-container .star:nth-child(-n+3) i.star-filled,
.rating.hover.pseudo-class-hover.hover-4 .star-container .star:nth-child(-n+4) i.star-filled,
.rating.hover.pseudo-class-hover.hover-5 .star-container .star:nth-child(-n+5) i.star-filled,
.rating.hover.pseudo-class-hover.hover-6 .star-container .star:nth-child(-n+6) i.star-filled {
  opacity: 1;
}

.rating.hover.pseudo-class-hover.hover-1 .star-container .star svg,
.rating.hover.pseudo-class-hover.hover-2 .star-container .star svg {
  fill: #f03c56;
}

.rating.hover.pseudo-class-hover.hover-1 .star-container .star i,
.rating.hover.pseudo-class-hover.hover-2 .star-container .star i {
  color: #f03c56;
}

.rating.hover.pseudo-class-hover.hover-3 .star-container .star svg {
  fill: #ffc058;
}

.rating.hover.pseudo-class-hover.hover-3 .star-container .star i {
  color: #ffc058;
}

.rating.hover.pseudo-class-hover.hover-4 .star-container .star svg,
.rating.hover.pseudo-class-hover.hover-5 .star-container .star svg,
.rating.hover.pseudo-class-hover.hover-6 .star-container .star svg {
  fill: #7ed321;
}

.rating.hover.pseudo-class-hover.hover-4 .star-container .star i,
.rating.hover.pseudo-class-hover.hover-5 .star-container .star i,
.rating.hover.pseudo-class-hover.hover-6 .star-container .star i {
  color: #7ed321;
}

.sr-only-focusable.pseudo-class-active,
.sr-only-focusable.pseudo-class-focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}