@charset "UTF-8";

/*CSS Star Rating Elements
====================================================*/

/*
Star element
==================================================================*/
.star {
  position: relative;
  width: $default-star-width;
  height: $default-star-height;

  svg, i {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: block;
    font-style: normal;

    &.star-half,
    &.star-filled {
      opacity: 0;
    }
  }

  i {
    display: none;
  }

  svg {
    background-size: contain;

    svg.star-empty {
      background-image: url(data:image/svg+xml;base64,PHN2ZyBzdHlsZT0icG9zaXRpb246IGFic29sdXRlOyB3aWR0aDogMDsgaGVpZ2h0OiAwOyBvdmVyZmxvdzogaGlkZGVuOyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4gICAgICAgICAgICA8cGF0aCBjbGFzcz0icGF0aC1zdGFyLWVtcHR5IiAgICAgICAgICAgICAgICAgIGQ9Ik0zMy40MTIgMTIuMzk1bC0xMS44NDItMS4wMjEtNC42MjgtMTAuOTA0LTQuNjI4IDEwLjkyLTExLjg0MiAxLjAwNSA4Ljk5MyA3Ljc5MS0yLjcwMSAxMS41NzkgMTAuMTc5LTYuMTQ0IDEwLjE3OSA2LjE0NC0yLjY4NS0xMS41NzkgOC45NzYtNy43OTF6TTE2Ljk0MSAyMi41NDFsLTYuMTkzIDMuNzM5IDEuNjQ3LTcuMDQ5LTUuNDY4LTQuNzQ0IDcuMjE0LTAuNjI2IDIuOC02LjYzOCAyLjgxNiA2LjY1NCA3LjIxNCAwLjYyNi01LjQ2OCA0Ljc0NCAxLjY0NyA3LjA0OS02LjIwOS0zLjc1NXoiLz48L3N2Zz4=);
    }
    svg.star-filled {
      background-image: url(data:image/svg+xml;base64,PHN2ZyBzdHlsZT0icG9zaXRpb246IGFic29sdXRlOyB3aWR0aDogMDsgaGVpZ2h0OiAwOyBvdmVyZmxvdzogaGlkZGVuOyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4gICAgIDxwYXRoIGNsYXNzPSJwYXRoLXN0YXItZmlsbGVkIiAgICAgICAgICAgICAgICAgIGQ9Ik0xNi45NDEgMjUuNjIxbDEwLjE3OSA2LjE0NC0yLjcwMS0xMS41NzkgOC45OTMtNy43OTEtMTEuODQyLTEuMDA1LTQuNjI4LTEwLjkyLTQuNjI4IDEwLjkyLTExLjg0MiAxLjAwNSA4Ljk5MyA3Ljc5MS0yLjcwMSAxMS41Nzl6Ii8+PC9zdmc+);
    }
    svg.star-half {
      background-image: url(data:image/svg+xml;base64,PHN2ZyBzdHlsZT0icG9zaXRpb246IGFic29sdXRlOyB3aWR0aDogMDsgaGVpZ2h0OiAwOyBvdmVyZmxvdzogaGlkZGVuOyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4gICAgICAgICAgICA8cGF0aCBjbGFzcz0icGF0aC1zdGFyLWhhbGYiICAgICAgICAgICAgICAgICAgZD0iTSAzMy40MTIsMTIuMzk1IDIxLjU3LDExLjM3NCAxNi45NDIsMC40NyAxMi4zMTQsMTEuMzkgMC40NzIsMTIuMzk1IDkuNDY1LDIwLjE4NiA2Ljc2NCwzMS43NjUgMTYuOTQzLDI1LjYyMSAyNy4xMjIsMzEuNzY1IDI0LjQzNywyMC4xODYgMzMuNDEzLDEyLjM5NSBaIE0gMTYuOTQxLDIyLjU0MSBjIDAsMCAtMC4yOTc5NzEsLTE0LjY0NTU4MzMgMCwtMTUuMzE4IGwgMi44MTYsNi42NTQgNy4yMTQsMC42MjYgLTUuNDY4LDQuNzQ0IDEuNjQ3LDcuMDQ5IHoiLz48L3N2Zz4=);
    }

  }

  &.icon i {
    font-size: $default-star-font-size;
    line-height: $default-star-line-height;

    &.star-empty:before {
      content: $default-star-character-empty;
    }
    &.star-half:before {
      content: $default-star-character-half
    }
    &.star-filled:before {
      content: $default-star-character-filled;
    }
  }


  /*
  Fill states
  ==================================================================*/
  &.empty {
    svg, i {
      &.star-half,
      &.star-filled {
        opacity: 0;
      }
      &.star-empty {
        opacity: 1;
      }
    }
  }
  &.half {
    svg, i {
      &.star-filled,
      &.star-empty {
        opacity: 0;
      }
      &.star-half {
        opacity: 1;
      }
    }
  }
  &.filled {
    svg, i {
      &.star-empty,
      &.star-filled {
        opacity: 0;
      }
      &.star-filled {
        opacity: 1;
      }
    }
  }

  /*
  Colors
  ==================================================================*/
  &.default {
    svg {
      fill: $color-default-rating;
    }
    i {
      color: $color-default-rating;
    }
  }
  &.negative {
    svg {
      fill: $color-negative-rating;
    }
    i {
      color: $color-negative-rating;
    }
  }
  &.middle {
    svg {
      fill: $color-middle-rating;
    }
    i {
      color: $color-middle-rating;
    }
  }
  &.positive {
    svg {
      fill: $color-positive-rating;
    }
    i {
      color: $color-positive-rating;
    }
  }

  /*
  Icon Types
  ==================================================================*/
  &.svg {
    i {
      display: none;
    }
    svg {
      display: block;
    }
  }

  &.custom-icon,
  &.icon {
    svg {
      display: none;
    }
    i {
      display: block;
    }
  }

  /*
  Star Size
  ===================================================================*/
  &.small {
    width: $small-star-width;
    height: $small-star-height;
    i {
      font-size: $small-star-font-size;
      line-height: $small-star-line-height;
    }
  }

  &.medium {
    width: $default-star-width;
    height: $default-star-width;
    i {
      font-size: $default-star-font-size;
      line-height: $default-star-line-height;
    }
  }

  &.large {
    width: $large-star-width;
    height: $large-star-height;
    i {
      font-size: $large-star-font-size;
      line-height: $large-star-line-height;
    }
  }

  /*
Disabled
=================================================*/
  &.disabled {
    opacity: $disabled-opacity;
  }

  /*
  Direction
  =================================================*/
  &.direction-rtl {
    svg, i {
      &.star-half {
        transform: scale(-1, 1);
      }
    }
  }
  &.direction-ltr {
    svg, i {
      &.star-half {
        transform: scale(1, 1);
      }
    }
  }

}

/*
Label Element
===================================================================*/

.label-value {
  font-size: $default-label-font-size;
  line-height: $default-label-line-height;

  /*
  Sizes
  =================================================================*/
  &.small {
    font-size: $small-label-font-size;
    line-height: $small-label-line-height;
  }

  &.medium {
    font-size: $default-label-font-size;
    line-height: $default-star-line-height;
  }

  &.large {
    font-size: $large-label-font-size;
    line-height: $large-star-line-height;
  }

  /*
  Disabled
  =================================================*/
  &.disabled {
    opacity: $disabled-opacity;
  }

}

/*
Star Container
==================================================================*/
.star-container {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  justify-content: center;

  margin-left: $default-stars-label-margin;
  margin-right: $default-stars-label-margin;

  transition: all $default-animation-speed $default-animation-type;

  + .star {
    margin-left: $default-stars-label-margin;
  }

  .star {
    @extend .default;
      transition: all $default-animation-speed $default-animation-type;
      svg, i {
        transition: all $default-animation-speed $default-animation-type;
    }
  }

  svg {
    z-index: 2;
  }
  i {
    z-index: 1;
  }

  /*
 Direction
 ===================================================*/
  &.direction-rtl {
    direction: rtl;
    .star {
      @extend .star.direction-rtl;
    }
  }
  &.direction-ltr {
    direction: ltr;
    .star {
      @extend .star.direction-ltr;
    }
  }

  /*
  Spread
  ======================================================*/
  &.spread {
      flex: 1 1 auto;
      justify-content: space-between;
  }

}